{% extends "base.html" %}

{% block content %}
<div class='archive'>
  {% if category %}
    {% if category.name == 'runs' %}
      <h1 class='archive__title'>{{category.name | capitalize}}</h1>
    {% else %}
      <h1 class='archive__title'>{{category.name | upper}}</h1>
    {%endif %}
  {% else %}
    <h1 class='archive__title'>All episodes</h1>
  {% endif %}


  <div class='archive__body'>
    <ul class='article-list'>
    {% for article in articles_page.object_list %}
      <li class='article-list__item'><a href="/{{article.url}}"><i class='fa fa-fw fa-play'></i>
      {% if category %}
        {# Don't include the category if *on* a category page. #}
        {% set article_title = article.number ~ ": " ~ article.title %}
        {{article_title}}
      {% else %}
        {% include 'helpers/article_title.html' %}
      {% endif %}

      </a> ({{article.locale_date}})</li>
    {% endfor %}
    </ul>
    {% if articles_page.has_other_pages() %}
      <nav role='navigation' class='page-nav'>
        <nav-item class='page-nav__item'>
          {% if articles_page.has_previous() %}
            <a class='page-nav__link page-nav__link--prev' href='/{{articles_previous_page.url}}'><span class='page_number'><i class='fa fa-fw fa-fast-backward'></i>Page {{articles_previous_page.number}}</span></a>
          {% endif %}
        </nav-item class='page-nav__item'>
        <nav-item class='page-nav__item'>
          <span class='page_number'>Page {{articles_page.number}} (of {{articles_paginator.num_pages}})</span>
        </nav-item class='page-nav__item'>
        <nav-item class='page-nav__item'>
          {% if articles_page.has_next() %}
            <a class='page-nav__link page-nav__link--next' href='/{{articles_next_page.url}}'><span class='page_number'>Page {{articles_next_page.number}}<i class='fa fa-fw fa-fast-forward'></i></span></a>
          {% endif %}
        </nav-item class='page-nav__item'>
      </nav>
    {% endif %}
  </div>
</div>
{% endblock %}
