{% extends "base.html" %}

{% if article.category.name == 'runs' %}
  {% set m4a = article.number ~ '.m4a' %}
{% else %}
  {% set m4a = article.category.name | upper ~ article.number ~ '.m4a' %}
{% endif %}

{% set article_title = article.number ~ ": " ~ article.title %}

{% block title %}
{%include 'helpers/article_title.html' %} – {{SITENAME}}
{% endblock %}

{% block meta %}
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:title" content="{{ article.title|striptags }}" />
<meta property="og:description" content="{{ article.subtitle|striptags }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{LOGO}}" />
<meta property="og:audio" content="{{ SITEURL }}/{{m4a}}"/>
<meta property="og:audio:type" content="audio/aac" />
{% endblock %}

{% block content %}
<article class="run-entry">
  <h1 class="run-entry__title">{%include 'helpers/article_title.html' %}</h1>

  <section class="run-entry__body">
    {{article.content}}

    <audio class='run-audio' title="{{article_title}}" controls="controls" preload="metadata">
      <source src="http://www.podtrac.com/pts/redirect.m4a/cdn.chriskrycho.com/runwith/{{ m4a }}" />
    </audio>

    <iframe width="590" height="405" src="{{article.run}}" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
  </section>
</article>
{% endblock %}
