{% extends "base.html" %}

{% set article_title = article.number ~ ": " ~ article.title %}

{% block title %}
   {{article_title}} – {{SITENAME}}
{% endblock %}

{% block content %}
<article class="run-entry">
  <h1 class="run-entry__title">{{article_title}}</h1>

  <section class="run-entry__body">
    {{article.content}}

    <audio class='run-audio' title="{{article_title}}" controls="controls" preload="metadata">
      <source src="http://www.podtrac.com/pts/redirect.m4a/cdn.chriskrycho.com/runwith/{{ article.number }}.m4a" />
    </audio>

    <iframe width="590" height="405" src="{{article.run}}" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
  </section>
</article>
{% endblock %}

boom
